WebServiceClient1/Service References/ServiceReference1/Service137.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" />
  <xs:complexType name="ArrayOfTupleOfunsignedIntcomplete_classY6NY8n6N">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TupleOfunsignedIntcomplete_classY6NY8n6N" nillable="true" type="tns:TupleOfunsignedIntcomplete_classY6NY8n6N" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTupleOfunsignedIntcomplete_classY6NY8n6N" nillable="true" type="tns:ArrayOfTupleOfunsignedIntcomplete_classY6NY8n6N" />
  <xs:complexType name="TupleOfunsignedIntcomplete_classY6NY8n6N">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="unsignedInt" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="complete_class" Namespace="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="m_Item1" type="xs:unsignedInt" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" name="m_Item2" nillable="true" type="q1:complete_class" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfunsignedIntcomplete_classY6NY8n6N" nillable="true" type="tns:TupleOfunsignedIntcomplete_classY6NY8n6N" />
</xs:schema>