WebServiceClient1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DnDService" />
      <xsd:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_AccountConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountConnection" />
  </wsdl:message>
  <wsdl:message name="IService1_AccountConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AccountCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountCreate" />
  </wsdl:message>
  <wsdl:message name="IService1_AccountCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AccountDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_AccountDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:CharacterCreate" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CharacterCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CharacterDelete" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CharacterDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CharacterUpdate" />
  </wsdl:message>
  <wsdl:message name="IService1_CharacterUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CharacterUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacter" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacters_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacters" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacters_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharactersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceShortList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceShortList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceShortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceShortListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClassShortList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassShortList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClassShortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassShortListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristicShortList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicShortList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristicShortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicShortListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTemplate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplate" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTemplate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLanguageList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguageList" />
  </wsdl:message>
  <wsdl:message name="IService1_GetLanguageList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLanguageListResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceLanguage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterLanguage" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClass" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRace_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRace" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRace_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTemplateCharacteristics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateCharacteristics" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTemplateCharacteristics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTemplateCharacteristicsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterCharacteristics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterCharacteristics" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterCharacteristics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterCharacteristicsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristicType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicType" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristicType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristicTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicTypes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristicTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristic_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristic" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristic_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristics_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristics" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacteristics_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacteristicsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAptitude_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAptitude" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAptitude_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAptitudeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAptitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAptitudes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAptitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAptitudesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterAptitudes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterAptitudes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterAptitudes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterAptitudesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMulticlass_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMulticlass" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMulticlass_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMulticlassResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDeities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeities" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDeities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDeity_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDeity" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDeity_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDeityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterAge_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterAge" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterWeight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterWeight" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterWeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterWeightResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterHeight_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterHeight" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterHeight_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterHeightResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAgeCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAgeCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAgeCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWeightCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeightCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetWeightCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeightCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHeightCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeightCategory" />
  </wsdl:message>
  <wsdl:message name="IService1_GetHeightCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHeightCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterGifts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterGifts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterGifts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterGiftsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGift_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGift" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGift_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGifts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGifts" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGifts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEffect_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEffect" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEffect_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEffectResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEffects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEffects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEffects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEffectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterEffects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterEffects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterEffects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterEffectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftConditions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftConditions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftConditions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftConditionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftEffects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftEffects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetGiftEffects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGiftEffectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkillEffects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillEffects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkillEffects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillEffectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkillConditions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillConditions" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkillConditions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillConditionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClassEffects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClassEffects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClassEffects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClassEffectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceEffects_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceEffects" />
  </wsdl:message>
  <wsdl:message name="IService1_GetRaceEffects_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRaceEffectsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkill_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkill" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkill_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSkills" />
  </wsdl:message>
  <wsdl:message name="IService1_GetSkills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSkillsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterSkills_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterSkills" />
  </wsdl:message>
  <wsdl:message name="IService1_GetCharacterSkills_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCharacterSkillsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="AccountConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AccountConnection" message="tns:IService1_AccountConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AccountConnectionResponse" message="tns:IService1_AccountConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AccountCreate" message="tns:IService1_AccountCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AccountCreateResponse" message="tns:IService1_AccountCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AccountDelete" message="tns:IService1_AccountDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AccountDeleteResponse" message="tns:IService1_AccountDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CharacterCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CharacterCreate" message="tns:IService1_CharacterCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CharacterCreateResponse" message="tns:IService1_CharacterCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CharacterDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CharacterDelete" message="tns:IService1_CharacterDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CharacterDeleteResponse" message="tns:IService1_CharacterDelete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CharacterUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CharacterUpdate" message="tns:IService1_CharacterUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CharacterUpdateResponse" message="tns:IService1_CharacterUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacter">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacter" message="tns:IService1_GetCharacter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterResponse" message="tns:IService1_GetCharacter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacters" message="tns:IService1_GetCharacters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharactersResponse" message="tns:IService1_GetCharacters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaceShortList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRaceShortList" message="tns:IService1_GetRaceShortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRaceShortListResponse" message="tns:IService1_GetRaceShortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassShortList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClassShortList" message="tns:IService1_GetClassShortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClassShortListResponse" message="tns:IService1_GetClassShortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristicShortList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacteristicShortList" message="tns:IService1_GetCharacteristicShortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacteristicShortListResponse" message="tns:IService1_GetCharacteristicShortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTemplate" message="tns:IService1_GetTemplate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTemplateResponse" message="tns:IService1_GetTemplate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLanguageList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetLanguageList" message="tns:IService1_GetLanguageList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetLanguageListResponse" message="tns:IService1_GetLanguageList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaceLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRaceLanguage" message="tns:IService1_GetRaceLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRaceLanguageResponse" message="tns:IService1_GetRaceLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterLanguage" message="tns:IService1_GetCharacterLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterLanguageResponse" message="tns:IService1_GetCharacterLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClass" message="tns:IService1_GetClass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClassResponse" message="tns:IService1_GetClass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRace">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRace" message="tns:IService1_GetRace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRaceResponse" message="tns:IService1_GetRace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTemplateCharacteristics">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTemplateCharacteristics" message="tns:IService1_GetTemplateCharacteristics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTemplateCharacteristicsResponse" message="tns:IService1_GetTemplateCharacteristics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterCharacteristics">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterCharacteristics" message="tns:IService1_GetCharacterCharacteristics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterCharacteristicsResponse" message="tns:IService1_GetCharacterCharacteristics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristicType">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacteristicType" message="tns:IService1_GetCharacteristicType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacteristicTypeResponse" message="tns:IService1_GetCharacteristicType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristicTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacteristicTypes" message="tns:IService1_GetCharacteristicTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacteristicTypesResponse" message="tns:IService1_GetCharacteristicTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristic">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacteristic" message="tns:IService1_GetCharacteristic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacteristicResponse" message="tns:IService1_GetCharacteristic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristics">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacteristics" message="tns:IService1_GetCharacteristics_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacteristicsResponse" message="tns:IService1_GetCharacteristics_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAptitude">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAptitude" message="tns:IService1_GetAptitude_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAptitudeResponse" message="tns:IService1_GetAptitude_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAptitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAptitudes" message="tns:IService1_GetAptitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAptitudesResponse" message="tns:IService1_GetAptitudes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterAptitudes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterAptitudes" message="tns:IService1_GetCharacterAptitudes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterAptitudesResponse" message="tns:IService1_GetCharacterAptitudes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMulticlass">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMulticlass" message="tns:IService1_GetMulticlass_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMulticlassResponse" message="tns:IService1_GetMulticlass_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeities">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDeities" message="tns:IService1_GetDeities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDeitiesResponse" message="tns:IService1_GetDeities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDeity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDeity" message="tns:IService1_GetDeity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDeityResponse" message="tns:IService1_GetDeity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterAge" message="tns:IService1_GetCharacterAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterAgeResponse" message="tns:IService1_GetCharacterAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterWeight">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterWeight" message="tns:IService1_GetCharacterWeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterWeightResponse" message="tns:IService1_GetCharacterWeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterHeight">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterHeight" message="tns:IService1_GetCharacterHeight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterHeightResponse" message="tns:IService1_GetCharacterHeight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAgeCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAgeCategory" message="tns:IService1_GetAgeCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAgeCategoryResponse" message="tns:IService1_GetAgeCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeightCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetWeightCategory" message="tns:IService1_GetWeightCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetWeightCategoryResponse" message="tns:IService1_GetWeightCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHeightCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetHeightCategory" message="tns:IService1_GetHeightCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetHeightCategoryResponse" message="tns:IService1_GetHeightCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterGifts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterGifts" message="tns:IService1_GetCharacterGifts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterGiftsResponse" message="tns:IService1_GetCharacterGifts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGift">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGift" message="tns:IService1_GetGift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGiftResponse" message="tns:IService1_GetGift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGifts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGifts" message="tns:IService1_GetGifts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGiftsResponse" message="tns:IService1_GetGifts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEffect">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEffect" message="tns:IService1_GetEffect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEffectResponse" message="tns:IService1_GetEffect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEffects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEffects" message="tns:IService1_GetEffects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEffectsResponse" message="tns:IService1_GetEffects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterEffects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterEffects" message="tns:IService1_GetCharacterEffects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterEffectsResponse" message="tns:IService1_GetCharacterEffects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftConditions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGiftConditions" message="tns:IService1_GetGiftConditions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGiftConditionsResponse" message="tns:IService1_GetGiftConditions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGiftEffects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetGiftEffects" message="tns:IService1_GetGiftEffects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetGiftEffectsResponse" message="tns:IService1_GetGiftEffects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkillEffects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSkillEffects" message="tns:IService1_GetSkillEffects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSkillEffectsResponse" message="tns:IService1_GetSkillEffects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkillConditions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSkillConditions" message="tns:IService1_GetSkillConditions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSkillConditionsResponse" message="tns:IService1_GetSkillConditions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClassEffects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClassEffects" message="tns:IService1_GetClassEffects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClassEffectsResponse" message="tns:IService1_GetClassEffects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRaceEffects">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetRaceEffects" message="tns:IService1_GetRaceEffects_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetRaceEffectsResponse" message="tns:IService1_GetRaceEffects_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSkill" message="tns:IService1_GetSkill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSkillResponse" message="tns:IService1_GetSkill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSkills">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetSkills" message="tns:IService1_GetSkills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetSkillsResponse" message="tns:IService1_GetSkills_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCharacterSkills">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetCharacterSkills" message="tns:IService1_GetCharacterSkills_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetCharacterSkillsResponse" message="tns:IService1_GetCharacterSkills_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountConnection">
      <soap:operation soapAction="http://tempuri.org/IService1/AccountConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountCreate">
      <soap:operation soapAction="http://tempuri.org/IService1/AccountCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/AccountDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CharacterCreate">
      <soap:operation soapAction="http://tempuri.org/IService1/CharacterCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CharacterDelete">
      <soap:operation soapAction="http://tempuri.org/IService1/CharacterDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CharacterUpdate">
      <soap:operation soapAction="http://tempuri.org/IService1/CharacterUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacter">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacters">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceShortList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRaceShortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassShortList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClassShortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristicShortList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacteristicShortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplate">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTemplate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLanguageList">
      <soap:operation soapAction="http://tempuri.org/IService1/GetLanguageList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceLanguage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRaceLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterLanguage">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterLanguage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClass">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRace">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemplateCharacteristics">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTemplateCharacteristics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterCharacteristics">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterCharacteristics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristicType">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacteristicType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristicTypes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacteristicTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristic">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacteristic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacteristics">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacteristics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAptitude">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAptitude" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAptitudes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAptitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterAptitudes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterAptitudes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMulticlass">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMulticlass" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeities">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDeities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeity">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDeity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterAge">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterWeight">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterWeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterHeight">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterHeight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAgeCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAgeCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeightCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetWeightCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHeightCategory">
      <soap:operation soapAction="http://tempuri.org/IService1/GetHeightCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterGifts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterGifts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGift">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGifts">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGifts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEffect">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEffect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEffects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEffects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterEffects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterEffects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftConditions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGiftConditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGiftEffects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetGiftEffects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkillEffects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSkillEffects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkillConditions">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSkillConditions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClassEffects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClassEffects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRaceEffects">
      <soap:operation soapAction="http://tempuri.org/IService1/GetRaceEffects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkill">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSkill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSkills">
      <soap:operation soapAction="http://tempuri.org/IService1/GetSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCharacterSkills">
      <soap:operation soapAction="http://tempuri.org/IService1/GetCharacterSkills" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8986/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>