WebServiceClient1/Service References/ServiceReference1/Service131.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfshort_entity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="short_entity" nillable="true" type="tns:short_entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfshort_entity" nillable="true" type="tns:ArrayOfshort_entity" />
  <xs:complexType name="short_entity">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uid" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="short_entity" nillable="true" type="tns:short_entity" />
  <xs:complexType name="template">
    <xs:sequence>
      <xs:element minOccurs="0" name="characteristics" nillable="true" type="tns:ArrayOfcharacteristic" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uid" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="template" nillable="true" type="tns:template" />
  <xs:complexType name="ArrayOfcharacteristic">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="characteristic" nillable="true" type="tns:characteristic" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcharacteristic" nillable="true" type="tns:ArrayOfcharacteristic" />
  <xs:complexType name="characteristic">
    <xs:sequence>
      <xs:element minOccurs="0" name="abreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="modifier" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="uid" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="characteristic" nillable="true" type="tns:characteristic" />
</xs:schema>