WebServiceClient1/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DnDService" />
  <xs:element name="AccountConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountConnectionResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountCreateResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="player" nillable="true" type="q1:character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="GetCharacterResult" nillable="true" type="q2:character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="GetCharactersResult" nillable="true" type="q3:ArrayOfcharacter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>