WebServiceClient1/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DnDService" />
  <xs:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" />
  <xs:element name="AccountConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountConnectionResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountCreateResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="player" nillable="true" type="q1:character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="GetCharacterResult" nillable="true" type="q2:character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="GetCharactersResult" nillable="true" type="q3:ArrayOfshort_character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceShortList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetRaceShortListResult" nillable="true" type="q4:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassShortList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetClassShortListResult" nillable="true" type="q5:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicShortList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacteristicShortListResult" nillable="true" type="q6:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_template" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetTemplateResult" nillable="true" type="q7:template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetLanguageListResult" nillable="true" type="q8:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_race" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetRaceLanguageResult" nillable="true" type="q9:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacterLanguageResult" nillable="true" type="q10:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_class" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetClassResult" nillable="true" type="q11:complete_class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_race" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetRaceResult" nillable="true" type="q12:complete_race" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>