WebServiceClient1/Service References/ServiceReference1/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfshort_entity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="short_entity" nillable="true" type="tns:short_entity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfshort_entity" nillable="true" type="tns:ArrayOfshort_entity" />
  <xs:complexType name="short_entity">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="short_entity" nillable="true" type="tns:short_entity" />
  <xs:complexType name="complete_race">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="complete_race" nillable="true" type="tns:complete_race" />
  <xs:complexType name="complete_class">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="complete_class" nillable="true" type="tns:complete_class" />
</xs:schema>