WebServiceClient1/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DnDService" />
  <xs:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" />
  <xs:import schemaLocation="http://localhost:8986/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="AccountConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountConnectionResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountCreateResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="account_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountEmailResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateAccountResult" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="player" nillable="true" type="q1:character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterCreateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterDeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterDeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="player" nillable="true" type="q2:character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CharacterUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacterUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="character_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="GetCharacterResult" nillable="true" type="q3:character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacters">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_account" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharactersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DnDService" minOccurs="0" name="GetCharactersResult" nillable="true" type="q4:ArrayOfshort_character" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceShortList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetRaceShortListResult" nillable="true" type="q5:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassShortList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetClassShortListResult" nillable="true" type="q6:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_class" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetShortClassResult" nillable="true" type="q7:short_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_race" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetShortRaceResult" nillable="true" type="q8:short_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicShortList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicShortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacteristicShortListResult" nillable="true" type="q9:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_template" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetTemplateResult" nillable="true" type="q10:template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultTemplate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefaultTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetDefaultTemplateResult" nillable="true" type="q11:template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLanguageListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetLanguageListResult" nillable="true" type="q12:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_race" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetRaceLanguageResult" nillable="true" type="q13:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterLanguage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterLanguageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacterLanguageResult" nillable="true" type="q14:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_class" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetClassResult" nillable="true" type="q15:complete_class" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_race" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetRaceResult" nillable="true" type="q16:complete_race" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateCharacteristics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_template" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="id_type" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTemplateCharacteristicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetTemplateCharacteristicsResult" nillable="true" type="q17:ArrayOfcharacteristic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterCharacteristics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="id_type" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterCharacteristicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacterCharacteristicsResult" nillable="true" type="q18:ArrayOfcharacteristic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_type" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacteristicTypeResult" nillable="true" type="q19:short_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacteristicTypesResult" nillable="true" type="q20:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_characteristic" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacteristicResult" nillable="true" type="q21:characteristic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristics">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_type" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacteristicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacteristicsResult" nillable="true" type="q22:ArrayOfcharacteristic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAptitude">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_aptitude" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAptitudeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetAptitudeResult" nillable="true" type="q23:aptitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAptitudes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_class" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAptitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetAptitudesResult" nillable="true" type="q24:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterAptitudes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterAptitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacterAptitudesResult" nillable="true" type="q25:ArrayOfaptitude" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMulticlass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMulticlassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetMulticlassResult" nillable="true" type="q26:multiclass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortMulticlass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShortMulticlassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetShortMulticlassResult" nillable="true" type="q27:multientity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_class" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="level" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetClassTemplateResult" nillable="true" type="q28:template" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetDeitiesResult" nillable="true" type="q29:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deity_id" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetDeityResult" nillable="true" type="q30:short_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterAge">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterAgeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetCharacterAgeResult" nillable="true" type="q31:TupleOfunsignedIntcategoryY6NY8n6N" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterWeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterWeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetCharacterWeightResult" nillable="true" type="q32:TupleOfunsignedIntcategoryY6NY8n6N" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterHeight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterHeightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetCharacterHeightResult" nillable="true" type="q33:TupleOfunsignedIntcategoryY6NY8n6N" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_age_category" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAgeCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetAgeCategoryResult" nillable="true" type="q34:category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeightCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_weight_category" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWeightCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetWeightCategoryResult" nillable="true" type="q35:category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeightCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_height_category" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeightCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetHeightCategoryResult" nillable="true" type="q36:category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterGifts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterGiftsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacterGiftsResult" nillable="true" type="q37:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_gift" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetGiftResult" nillable="true" type="q38:gift" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGifts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGiftsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetGiftsResult" nillable="true" type="q39:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEffect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_effect" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEffectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetEffectResult" nillable="true" type="q40:short_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEffects">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEffectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetEffectsResult" nillable="true" type="q41:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterEffects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterEffectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacterEffectsResult" nillable="true" type="q42:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillEffects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_skill" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillEffectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetSkillEffectsResult" nillable="true" type="q43:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillConditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_skill" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillConditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetSkillConditionsResult" nillable="true" type="q44:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassEffects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_class" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClassEffectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetClassEffectsResult" nillable="true" type="q45:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceEffects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_race" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceEffectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetRaceEffectsResult" nillable="true" type="q46:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_skill" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetSkillResult" nillable="true" type="q47:skill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkills">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetSkillsResult" nillable="true" type="q48:ArrayOfshort_entity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterSkills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCharacterSkillsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/DnDService.DataStructures" minOccurs="0" name="GetCharacterSkillsResult" nillable="true" type="q49:multiskill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>