WebServiceClient1/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DnDService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DnDService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="character">
    <xs:sequence>
      <xs:element minOccurs="0" name="armor_class" type="xs:int" />
      <xs:element minOccurs="0" name="charisma" type="xs:int" />
      <xs:element minOccurs="0" name="class_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="constitution" type="xs:int" />
      <xs:element minOccurs="0" name="dexterity" type="xs:int" />
      <xs:element minOccurs="0" name="fortitude" type="xs:int" />
      <xs:element minOccurs="0" name="id_account" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="id_character" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="initiative" type="xs:int" />
      <xs:element minOccurs="0" name="intelligence" type="xs:int" />
      <xs:element minOccurs="0" name="level" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="race_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reflexe" type="xs:int" />
      <xs:element minOccurs="0" name="speed" type="xs:int" />
      <xs:element minOccurs="0" name="strength" type="xs:int" />
      <xs:element minOccurs="0" name="will" type="xs:int" />
      <xs:element minOccurs="0" name="wisdom" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="character" nillable="true" type="tns:character" />
  <xs:complexType name="ArrayOfcharacter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="character" nillable="true" type="tns:character" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcharacter" nillable="true" type="tns:ArrayOfcharacter" />
</xs:schema>